/* Variables */
$primary-color: #355989;

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic);

body {
  margin-bottom: 80px;

}

.footer-final {
  padding-bottom: 80px;
}


/* FCOE Banner - No columns */
#fcoe-banner-no-cols {
  position: relative;
  height: 45px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-color: $primary-color;
  .fcoe-title {
    display: block;
    float: left;
    h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1em;
    line-height: 50px;
    color: white;
      &.name {
        margin-left: 0;
      }
      span {
        margin-left: 15px;
      }
    }
  }
}

#fcoe-banner-no-cols .fcoe-logo {
    float: left;
    width: 70px;
    height: 58px;
    margin: 0 auto;
    background: transparent url("../images/banner_fcoe_logo.png") center center no-repeat;
    a {
    display: block;
    width: 70px;
    height: 58px;
  }
}

@media only screen and (max-width: 767px) {
  #fcoe-banner-no-cols {
    background: #355989;
    height: 58px;
    .fcoe-title{
      h2 {
      line-height: 18px;
      margin: 10px 0 0 5px;
      span {
        display: block;
        margin: 0;
        font-size: 12px;
        clear: left;
        }
      }
    }
  }
}

#page {
  background-size: contain;
  margin: 50px auto 0;
}

.front {
  #page {
    background: #fff url("../images/header_bg.jpg") no-repeat 0 -70px;
    background-size: contain;
    margin: 50px auto 0;
  }

  #header {
    #site-name {
      text-indent: -9000px;
      overflow: hidden;
      width: 436px;
      height: 124px;
      background: transparent url("../images/nameplate.png") no-repeat top left;
      margin-top: 55px;
      margin-left: 67px;
    }
    #site-slogan {
      width: 420px;
      color: white;
      margin-top: 38px;
      line-height: rem-calc(49px);
      margin-left: 67px;
      text-transform: uppercase;
      font-size: rem-calc(38px);
      padding-bottom: 100px;
    }
  }
  #content {
    background: #ffffff;
    border-top: 4px solid #6b747c;
    h2 {
      color: #393a39;
      font-weight: 400;
      font-size: rem-calc(30px);
      padding-left: 28px;
      padding-bottom: 11px;
      padding-top: 25px;
      padding-right: 60px;
    }
    p, ul {
      color: #6b747c;
      padding-left: 28px;
      padding-right: 60px;
    }
    ul {
      margin-left: 30px;
    }
  }
  aside {
    h2 {
      background: #626262;
      margin: 0 auto;
      color: #ffffff;
      font-size: rem-calc(22px);
      padding: 10px 25px;
      font-weight: 400;
    }
    background: transparent;
    margin-top: 20px;
    .content {
      border: 1px solid #b9b9b8;
      background: #ffffff;
      padding: 0 25px 15px;
      .form-text {
        margin: 0;
        border: 1px solid #606161;
      }
      .form-type-textfield,
      .form-type-password {
        border-bottom: 3px solid #cccccc;
      }
      .form-actions {
        margin-bottom: 0;
      }
      #edit-submit {
        border: 0;
        @include button(rem-calc(7));
        font-size: rem-calc(18);
        text-transform: uppercase;
        background: #fbb033;
        margin-bottom: rem-calc(8px);
      }
      ul {
        list-style-type: none;
        li {
          margin: 0;
          font-size: rem-calc(14px);
        }
      }
    }
  }
}

.partner-logos {
  clear: both;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  h4 {
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: rem-calc(26px);
    span {
      margin: 0 auto;
      display: block;
      background: #fff;
      width: 180px;
      margin-top: -19px;
    }
  }
  img {
    margin: 0 auto;
  }
}

.front {
  #block-system-user-menu {
    ul.menu {
      padding: 0;
      margin: 0;
      li {
        list-style-image: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        &.last {
          a {
            border-bottom: 0;
          }
        }
        a {
          padding: 10px 0;
          font-size: rem-calc(16px);
          display: block;
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }
}

.not-front {
  #block-system-user-menu {
    h2 {
      display: none;
    }
    background: transparent url("../images/portal_logo.png") no-repeat 0 40%;
    padding: 30px 0;
      position: relative;
    ul.menu {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,004f92+100&0+0,1+44,1+100 */
      background: -moz-linear-gradient(left,  rgba(122,188,255,0) 0%, rgba(96,171,248,1) 44%, rgba(0,79,146,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(122,188,255,0) 0%,rgba(96,171,248,1) 44%,rgba(0,79,146,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(122,188,255,0) 0%,rgba(96,171,248,1) 44%,rgba(0,79,146,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007abcff', endColorstr='#004f92',GradientType=1 ); /* IE6-9 */
      margin-left: 180px;
      text-align: right;
      li {
        list-style-image: none;
        list-style-type: none;
        display: inline-block;
        background: none !important;
        margin: 0;
        padding: 0;
        border-left: 1px solid #fff;
        &.first {
          border-left: 0;
          position: absolute;
          left: 0;
          background: none !important;
          width: 150px;
          display: block;
          a {
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        a {
          display: block;
          color: white;
          text-transform: uppercase;
          padding: 10px 20px;
          margin: 0;
          line-height: 20px;
          text-shadow: 0 1px 0px #003d71;
        }
      }
    }
  }
  #main {
    h1.title {
      font-weight: 400;
      font-size: rem-calc(42px);
      border-bottom: 1px solid #ddd;
      margin-bottom: 35px;
      padding-bottom: 20px;
    }
    .portal-resource {
      border: 0px solid #ccc;
      padding-bottom: 35px;
      p, h4, a.button {
        margin: 0 10px 10px 20px !important;
      }
      p {
        font-size: rem-calc(15);
        line-height: rem-calc(19);
      }
      a.button {
        @include button(rem-calc(5));
        font-size: rem-calc(14);
        text-transform: uppercase;
        background: #fbb033;
        border-radius: 6px;
      }

    }
  }
  .profile {
    padding-top: 30px;
    .field-label {
      font-weight: 600;
      font-size: rem-calc(20px);
      //color: #0000FF;
      display: inline-block;
      width: 220px;
      margin-right: 20px;
      text-align: right;
    }
    .field-name-og-user-node {
      border-top: 1px solid #eee;
      margin-top: 30px;
      padding-top: 30px;
    }
    .field-items {
      font-size: rem-calc(20px);
      display: inline-block;
      vertical-align: top;
    }
  }
  ul.tabs.primary {
    padding: 7px 20px;
    margin-left: 0;
    margin-bottom: 30px !important;
    li {
      a {
        background: #327fc7;
        padding: 7px 20px;
        color: #ffffff;
        border: 0;
      }
      &.active {
        a {
          background: #fff;
          color: #005294;
          border: 1px solid #bbb;
          border-bottom: 1px solid #ffffff;
        }
      }

    }
  }
}

.content {
  p, ul {
    color: #6b747c;
  }
}

@media #{$small-only} {
  #page {
    margin: 0 !important;
  }
  .front {
    #page {
      background: none;
    }
    #header {
      height: 100px;
      background: transparent url("../images/portal_logo_dark.png") center center no-repeat;
      background-size: contain;
      margin: 20px 20px;
      #site-name {
        display: none;
      }
      #site-slogan {
        display: none;
      }
    }
  }
}

@media #{$medium-only} {
  .front {
    #page {
      margin: 0 !important;
    }
    #header {
      #site-name {
        margin-top: 20px;
        text-indent: 0;
        height: auto;
        margin-left: 30px;
        margin-bottom: 0;
        width: auto;
        background: none;
        padding-bottom: 0;
        line-height: auto;
        a {
          color: #fbb033;
          text-transform: none;
          margin-bottom: 0;
        }
      }
      #site-slogan {
        margin-left: 30px;
        margin-top: 0;
        height: auto;
        text-transform: none;
        font-size: rem-calc(24px);
        padding-bottom: 15px !important;
      }
    }
  }
  .not-front {
    .view-id-resources {
      img {
        margin-left: 15px;
      }
    }
  }
}

div.subscriptions {
  .columns {
    border-left: 1px solid #f0f0f0;
  }
  .columns:first-child {
    border-left: 0;
  }
  ul, h4.title, p.descr, .view-header {
    margin: 0 15px 0 15px;
  }
  h4.title {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  ul {
    list-style-type: none;
  }
  ul.library-services {
    margin-left: 30px;
    color: $jet;
    li:last-child {
      border-bottom: 0;
    }
    li {
      border-bottom: 1px solid #eeeeff;
      padding: 8px 0;
    }
  }
  ul.resources {
    list-style-type: none;
    background: #f7f7f7;
    li {
      padding: 20px;
      border-bottom: 2px solid #fff;
    }
  }
  .views-field-field-image-fid {
    float: left;
    margin-right: 20px;
  }
  .views-field-body, .views-field-title {
    margin-left: 120px;
    p {
      margin: 0;
    }
  }
  .views-field-title {
    font-weight: bold;
    font-size: rem-calc(18px);
  }
}

.page-user-login {
  form {
    > div {
      margin: 0 20px;
    }
  }
}


@media #{$large} {
  .node-type-webform, .page-user-login {
    #block-system-main {
      padding-top: 40px;
      @include grid-row();
      form {
        @include grid-column(6);
        > div {
          margin: 0;
        }
      }
    }
  }
}

@media #{$medium-only} {
  #main {
    .portal-resource {
      margin-left: 10px;
    }
  }
}

.front .messages.error {
  border: 0;
  border-left: 8px solid #ed541d;

  margin: 0;
  margin-top: 16px;
  text-align: center;
  padding: 13px 0;
  background-image: none;
}
